# https://forum.ansible.com/t/omit-and-the-dict-lookup/45197

- debug:
    msg: "{{ evens | product([omit]) }}"
  vars:
    evens: [twos, fours]

# ok: [localhost] => 
#     msg:
#     -   - twos
#     -   - fours

- debug:
    msg: "{{ d1 | combine(d2) }}"
  vars:
    d1: {x: foo, y: bar, z: baz}
    d2: {x: foo, y: omit}

# ok: [localhost] => 
#     msg:
#         x: foo
#         y: omit
#         z: baz

- debug:
    msg: "User {{ my_item.key }} is {{ my_item.value.name }} ({{ my_item.value.telephone }})"
  loop: "{{ users | dict2items }}"
  loop_control:
    loop_var: my_item
    label: "{{ my_item.key }}"
  vars:
    users:
      alice:
        name: Alice Appleworth
        telephone: 123-456-7890
      bob:
        name: Bob Bananarama
        telephone: 987-654-3210

# ok: [localhost] => (item=alice) => 
#     msg: User alice is Alice Appleworth (123-456-7890)
# ok: [localhost] => (item=bob) => 
#     msg: User bob is Bob Bananarama (987-654-3210)
